@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0px;
  border: none;
  padding: 0px;
  font-family: inherit;
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --heading-font: "PT Serif", serif;
  --heading-font-size: 2.25rem;
  --subheading-font-size: 1.125rem;
}

body {
  font-family: var(--primary-font);
  background: #fafafa;
  color: #000000;
  font-size: 0.875rem;
}

.container {
  padding: 70px 32px 70px 12px;
}

.main-heading > h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: var(--heading-font-size);
  line-height: 48px;
  letter-spacing: -0.045em;
}

.sub-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--subheading-font-size);
  line-height: 27px;
}

.main-heading {
  display: grid;
  grid-gap: 2rem;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

#overview {
  margin-bottom: 4rem;
}

.team-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10vw;
}
.member {
  position: relative;
}
.member-designation {
  position: absolute;
  left: 100%;
  width: 100%;
  transform-origin: 0% 100% 0px;
  transform: rotate(90deg) translateX(-10px);
  font-family: var(--heading-font);
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
}

.member-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.member:nth-child(even) {
  padding-top: 3.125rem;
}

.member:nth-child(odd) {
  padding-bottom: 3.125rem;
}

.footer p {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  color: #a9a9a9;
}

@media (min-width: 480px) {
  .container {
    max-width: 70vw;
    margin: 0px auto;
  }
  #overview > p {
    font-size: 1.125rem;
  }
  .main-heading {
    grid-template-columns: 1fr 1fr;
  }
  .team-images {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .member:nth-child(2),
  .member:nth-child(5) {
    padding-top: 3.125rem;
    padding-bottom: 0px;
  }

  .member:nth-child(1),
  .member:nth-child(3),
  .member:nth-child(4),
  .member:nth-child(6) {
    padding-bottom: 3.125rem;
    padding-top: 0px;
  }
}
